body {
    background-color:#FFDBDB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: haboro, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;

}

.navitem a {
  color:black;
  text-decoration: none;
}

.navitem .current {
  text-decoration: underline;
}

.logo {
    padding-left: 1em;
    padding-top: 1em;
}

.logo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;

}


h1 {
    font-family: haboro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4em;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 0px;

}

.wrapbody {
margin-left: 100px;
margin-top: 0px;
}

  .wrapper{
    display: flex;
  }
  .wrapper .static-text{
    color: black;
    font-size: 60px;
    line-height: 90px;
    height: 90px;
    font-weight: 400;
  }
  .wrapper .changing-text{
    margin:0;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .changing-text ul{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    animation: slide 36s steps(6) infinite;
}
  @keyframes slide {
    100%{
      top: -540px;
    }
  }
  .changing-text ul span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

  .changing-text {
      padding-left: 15px;
  }
  .changing-text ul span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 115%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFDBDB;
    border-left: 2px solid #FC6D6D;
    animation: typing 6s steps(12) infinite;
}
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

.line {
    background: black;
    width: 95%;
    height: 4px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


.background-box {
  background-color:#FFF8F8;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-direction: row;
  margin-bottom: 200px;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;

}

.photobox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image {
  padding-left: 40px;
  padding-right: 40px;
  object-fit: contain;
  width: 300px;
  display: block;
}

.w-background-box {
  background-color:#FFF8F8;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 200px;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  align-items: center;


}

h2 {
  margin-right: 50px;
}

.w-textbox {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {

.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;

}
}

@media only screen and (max-width: 1000px) {
  .bottom {
    font-family: haboro, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    margin: 50px;

  }
.background-box {
  background-color:#FFF8F8;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-direction: column-reverse;
  margin-bottom: 200px;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;


}
.photobox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image {
  margin-top: 50px;
  object-fit: contain;
  width: 100%;
  max-width: 500px;
  display: block;


}

.w-background-box {
  background-color:#FFF8F8;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 200px;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  align-items: center;


}

h2 {
  margin-right: 50px;
}

.w-textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;

}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

}

.bottom {
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  text-align: center;
  margin: 50px;

}


.c-background-box {
  background-color: #fff8f8;
  width: 80%;
  margin: 0 auto;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;

}
.row {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  align-items: center;
}

.row a {
  text-decoration: none;
  color: black;
}

.c-photobox {
  display: flex;
}
.c-image {
  object-fit: contain;
  width: 300px;
  display: block;



.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  position: relative;

}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
  margin-bottom: 70px;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px;

}

.project-pic {
  padding-left: 20px;
  padding-right: 20px;


}





.img__wrap {
  position: relative;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color:black;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: haboro-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  margin-left: 30px;

}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.project-pic{
  opacity: 40%;
  font-weight: bold;
  cursor: pointer;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  opacity: 1;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
